<div class="panel panel-default empData">
    <div class="panel-heading"><h2 class="panel-title font16">Education Information<a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'"></a></h2></div>
    <div class="panel-body">
        <form class="col-sm-12" name="form">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">Add Education Information</h3></div>
                    <div class="panel-body">
                        <div ng-include="'pages/message-alert-modal.html'"></div>
                        <table class="table table-bordered table-responsive">
                            <tr><td><span>School:</span></td><td><input class="form-control" ng-model="education.school" type="text" required ng-required="true"/> </td></tr>
                            <tr><td><span>Major:</span></td><td><input class="form-control" ng-model="education.major" type="text"/></td></tr>
                            <tr><td><span>Qualification:</span></td><td><select ng-model="education.qualification" ng-options="i for i in constants.qualifications track by i" class="form-control"></select></td></tr>
                            <tr><td><span>Grade:</span></td><td><select required ng-model="education.grade" ng-options="i for i in constants.grades track by i" class="form-control"></select></td></tr>
                            <tr><td><span>Start Date:</span></td><td>
                                <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="education.startDate" is-open="edustart" ng-required="true" close-text="Close" />
                            <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'edustart')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </td></tr>
                            <tr><td><span>End Date:</span></td><td>
                                <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="education.endDate" is-open="eduend"  close-text="Close" />
                            <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'eduend')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </td></tr>
                            <tr><td><span>Date Awarded:</span></td><td>
                                <input type="text" class="form-control unblock" datepicker-popup="dd MMM yyyy" ng-model="education.dateAwarded" is-open="eduaward"  close-text="Close" />
                            <span class="input-group-btn unblock">
                                <button type="button" class="btn btn-default" ng-click="open($event, 'eduaward')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </td></tr>
                            <tr><td>Graduated</td><td><div ng-init="education.graduated = 'true'">
                                <label class="radio-inline">
                                    <input type="radio" name="graduated" ng-model="education.graduated" value="true"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="graduated" ng-model="education.graduated" value="false"> No
                                </label>
                            </div></td></tr>
                        </table>
                        <div class="form-group">
                            <div align="center">
                                <input value="{{savingeducation? 'Saving Details':'Save Details'}}" ng-disabled="form.$invalid || savingeducation" class="btn btn-default" type="button" ng-click="saveData()" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>