<div class="panel panel-default margin10top">
    <div class="panel-heading"><h3 class="panel-title">Performance Competence Report</h3></div>
    <div class="panel-body" ng-if="compQ.competences">
        <div class="slide-animate" ng-include="'pages/employee-header.html'"></div>
        <div class="panel panel-default margin10top">
            <div class="panel-heading"><h3 class="panel-title">Score Summary</h3></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead><tr class="header-bg"><td>Category</td><td>Points</td></tr></thead>
                    <tbody><tr ng-repeat="(key, item) in compQ.competences"><th ng-bind="key"></th><td style="color:{{scoring[compQ.cat[key]] || '#333333'}}" ng-bind="compQ.cat[key]"></td></tr></tbody>
                    <tfoot><tr><th>Total Point/Interpretation</th><td style="color:{{scoring[compQ.overall]|| '#333333'}}" ng-bind="compQ.overall"></td></tr></tfoot>
                </table>
            </div>
        </div>
        <hr />
        <div class="panel panel-default margin10top">
            <div class="panel-heading"><h3 class="panel-title">Performance category ratings details </h3></div>
            <div class="panel-body">
                <div class="restrict">
                    <tabset>
                        <tab ng-repeat="(key, items) in compQ.competences" heading="{{$index + 1}}. {{key}}">
                            <div class="competenceDetails">
                                <p ng-repeat="competence in items">
                                    <strong><span ng-bind="$index+1 + ') '"></span><span ng-bind="competence.details.name + ':'"></span></strong><span ng-bind="competence.details.description"></span>
                                    <br><span class="answer" ng-bind="competence.scoring.text"></span>
                                </p>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
