<div class="panel panel-default margin10top">
    <div class="panel-heading"><h3 class="panel-title">Employees' Appraisal</h3></div>
    <div class="panel-body">
        <!--<span>view completed self assessment report for each employee.</span>-->
        <table class="table table-bordered">
            <thead><tr class="header-bg"><td width="10%"></td><td width="25%">Name</td><td width="25%">Department</td><td width="25%">Date Completed</td><td >Photo</td></tr></thead>
            <tbody><tr ng-repeat="ax in kras  track by $index"><td></td>
                <td ng-bind="ax.firstName + ' ' +ax.lastName"></td>
                <td ng-bind="ax.department.name"></td>
                <td ng-bind="ax.completed"></td>
                <td><img class="img-thumbnail" ng-src="img/{{ax.employeeId}}.jpg"></td></tr></tbody>
            <tfoot ng-if="!kras || kras.length > 0"><tr><td colspan="5" class="text-center">No records to display</td></tr></tfoot>
        </table>
    </div>
</div>