<div class="panel panel-default margin10top">
    <div class="panel-heading"><h3 class="panel-title">Disciplinary Actions</h3></div>
    <div class="panel-body">
        <p>Double click on a row to view more details.</p>
        <table class="table table-bordered">
            <thead>
            <tr class="header-bg">
                <td width="10px"></td>
                <td width="25%">Name</td>
                <td width="25%">Department</td>
                <td width="25%">Issued</td>
                <td >Subject</td>
                <td >Status</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ax in data track by $index" class="clickable" ng-dblclick="showDetails(ax)">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="getName(ax.employee)"></td>
                <td ng-bind="ax.employee.department.name"></td>
                <td ng-bind="ax.issued | date: 'shortDate'"></td>
                <td ng-bind="ax.subject"></td>
                <td><span ng-bind="ax.status"></span><span ng-if="ax.status=='Requery'" ng-bind="ax.requeryCount"></span></td>
            </tr>
            </tbody>
            <tfoot ng-if="data && !data.length"><td colspan="5" class="text-center">No records to display</td></tfoot>
            <tr ng-if="!data">
                <td colspan="7" class="text-center">
                    <span><img style="width: 50px; vertical-align: -webkit-baseline-middle;" src="../images/Floating rays.gif" alt="loading data" /></span>
                </td>
            </tr>
        </table>
    </div>
</div>


<script type="text/ng-template" id="pages/appraisal-discipline-details.html">
    <div class="panel panel-default kra-settings margin10top">
        <div class="panel-heading"><h3 class="panel-title">Subordinates Disciplinary Action Detail<button type="button" class="close" ng-click="back()">
            <span aria-hidden="true">x</span><span class="sr-only">Close</span>
        </button></h3></div>
        <div class="panel-body">
            <div class="row">

            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td colspan="2">
                        <div class="pull-left">
                            <div class="pull-left" style="margin: 5px"><img ng-src="img/{{data.employee.employeeId}}.jpg" width="112" height="113"></div>
                            <div class="pull-right" style="margin: 5px; height: 113px;">
                                <div><font face="Tahoma" size="6" ng-bind="getName(data.employee)"></font></div>
                                <div><font face="Tahoma" size="3" color="#CCCCCC" ng-bind="data.employee.designation"></font></div>
                                <div><font face="Tahoma" style="font-size: 12.5pt" color="#333333" ng-bind="data.employee.department.name"></font></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><th colspan="2" class="header-bg">Query Details</th></tr>
                </thead>
                <tbody>
                <tr> <th>Subject</th><td ng-bind="data.subject"></td></tr>
                <tr><th>Description</th><td><p ng-bind="data.description"></p></td></tr>
                <tr> <th>Date Issued</th> <td ng-bind="data.issued|date:'mediumDate'"></td> </tr>
                <tr> <th>Reply Before</th> <td ng-bind="data.reply|date:'mediumDate'"></td> </tr>
                <tr> <th>Status</th> <td ng-bind="data.status"></td></tr>
                </tbody>
                <tfoot>
                <tr ng-if="!data.replyText" ><td colspan="2"class="text-center"><label>Employee yet to respond to query.</label></td></tr>
                <tr ng-if="data.replyText"><td colspan="2"><p ng-bind="qr.replyText"></p></td></tr>
                <tr ng-if="data.copied.length">
                    <td class="" colspan="2">
                        <label ng-bind="'Copied: '"></label>
                        <span ng-bind="getNamesFromCol(data.copied)"></span>
                    </td>
                </tr><tr>
                    <td class="text-center" colspan="2">
                        <span class="col-sm-4" ng-bind="'Issued By : '+ getName(data.issuedBy)"></span>
                        <span class="col-sm-4" ng-bind="'Department : '+ data.issuedBy.department.name"></span>
                        <span class="col-sm-4" ng-bind="'Designation: ' + data.issuedBy.designation"></span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</script>