<div class="panel panel-default kra-settings margin10top" style="max-width:600px;">
    <div class="panel-heading"><h3 class="panel-title">Change Password</h3></div>
    <div class="panel-body">
        <div class="padding">
            <div data-ng-include="'pages/message-alert-modal.html'"></div>
            <form class="form-horizontal" name="form">                
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Password:</label>
                    <div class="col-sm-9">
                        <input ng-model="user.newPassword" ng-minlength="4" type="password" class="form-control" autofocus placeholder="New Password" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Confirm Password:</label>
                    <div class="col-sm-9">
                        <input ng-model="user.confirm" ng-minlength="4" type="password" class="form-control" autofocus placeholder="Confirm Password" required />
                    </div>
                </div>
                <hr />
            </form>
            <div class="text-center">
                <button class="btn btn-default" type="submit" ng-disabled="form.$invalid || user.newPassword != user.confirm" disabled ng-click="save()">Change Password</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>