<!--<span ng-repeat="g in globals.constants.appLevels"> {{g}} </span>-->

<!--<input ng-repeat="g in globals.constants.appLevels" type="radio"-->
       <!--ng-model=""-->
       <!--value=""-->
       <!--[name=""]-->
       <!--[ng-change=""]-->
       <!--ng-value="">-->
<style>
    .tt{
        width: 20px;
        display: inline;
    }
    .tt span{
        font-weight: 700;
    }
</style>
<!--<div ng-repeat="g in globals.constants.appLevels" class="tt" style="">-->
    <!--<input type="radio" ng-model="$parent.eval.evaluations.details[key]" value="{{g}}"> <span>{{g}}</span>-->
<!--</div>-->
