<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Cash Request<a class="btn btn-link pull-right" href="" ng-click="back()" ng-bind="backText? backText: 'Back'">{{}}</a></h3></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Expense Information</h3></div>
            <div class="panel-body">
                <div data-ng-include="'pages/message-alert-modal.html'"></div>
                <table class="table table-responsive">
                    <tr><td>Brief Description:</td><td>{{req.description}}</td></tr>
                    <tr><td>Amount (&#x20A6):</td><td>{{req.amount | currency: '\u20A6': 2}}</td></tr>
                    <tr><td>Date:</td><td>{{req.incurred | date:'yyyy MMM dd'}}</td></tr>
                    <tr><td>Payment To:</td><td>{{req.payTo}}</td></tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Requester's Notes</h3></div>
            <div class="panel-body">
                <p>{{req.requesterNotes}}</p>
            </div>
        </div>
        <div class="form-group">
            <div align="center">
                <input value="Approve Request" class="btn btn-default" type="button" ng-click="approve()" >
                <input value="Decline Request" class="btn btn-default" type="button" ng-click="decline()" >
            </div>
        </div>
    </div>
</div>